<body>
    <div id="footer">
        <div id="footer-heading">
            Crafted By : WebPros
        </div>
        <div id="footer-description">
            &copy ALL RIGHTS RESERVED
        </div>
        <div id="footer-date">
            2023 - PRESENT
        </div>
        
    </div>
</body>