<body>
    <div id="nav-bar">
        <div id="left-section" style = "height: 100%; width: auto;">
            <div id="site-icon" >
                <i class="fa-solid fa-money-bill-transfer fa-lg" style="color: #ffd43b;"></i>
            </div>
            <div id="site-heading" >
                SPLITWISE | 
            </div>
            <div id="site-description">
                Your Ultimate Expense Manager
            </div>
        </div>
        <div id="right-section">
            <div id="sign-in">
                <a href="/user/sign-up">Sign Up</a>
            </div>
            <div id="sign-out">
                <a href="/user/sign-in">Sign In</a>
            </div>
        </div>
    </div>
</body>