<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    
    <div id="friends-section" class="split-section">
        <div id="navigation-links">
            <div id="recent-activity" style="text-align: right;">
                <a href="#" class="modify-anchors"><i class="fa-solid fa-flag fa-lg" style="color: #6a6e74;"></i> &nbsp;Recent Activity</a>
            </div>
        </div>
    </div>
    <div id="add-settle-expense-section" class="split-section" style="width: 38%; background-color: white;">

    </div>
    <div id="information-section" class="split-section" style="border: none;">

    </div>

</body>