<head>
    <!-- <link rel="stylesheet" href="/css/layout.css"> -->
    <link rel="stylesheet" href="/css/sign-up.css">
</head>

<body>

    <div id="page-heading">
        <h2 style="font-weight: 600;">
            Enter Your Details
        </h2>
    </div>
    <div id="sign-in-form">
        <form method="post" action="/user/create-user" id="form1" enctype="multipart/form-data">
          <div class="mb-3 margin-20">
            <input type="text" class="form-control no-border" name="username" aria-describedby="emailHelp" placeholder="Enter Your Username">
          </div>

            <div class="mb-3 margin-20">
              <input type="email" class="form-control no-border" name="email" aria-describedby="emailHelp" placeholder="Enter Your Email">
            </div>
            
            <div class="mb-3 margin-20">
              <input type="password" class="form-control no-border" name="password" placeholder="Enter Your Password">
            </div>

            <div class="mb-3 margin-20">
              <input type="file" class="form-control no-border" name="avatar" aria-describedby="emailHelp" placeholder="Upload Photograph">
            </div>

            <div class="text-center" style="margin-top: 35px;">
              <button type="submit" class="btn  btn-outline-primary btn-lg text-center" style="width: 50%;">Sign Up</button>
            </div>
        </form>
    </div>

</body>